header{
  background: url("../assets/logo-daniela\ 2.jpg") no-repeat right;
  color: black;
  padding: 60px;
  background-size: 150px;
}
.contacto{
  align-items:stretch;
  display: flex;
  gap: 250px;
  justify-content: center;
  list-style: none;
}




    
