@import url(./header.css);
@import url(./jumbotron.css);
@import url(./catálogos.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-image: url("../assets/fondo\ 2.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
@media screen and (max-width:800px) {
    header{
        width: 100%;   
    }
    .jumbotron{
        width: 100%;
    }
    .catalogo{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}

    


